<launch>
	<arg name="namespace" default="/merbots/whrov"/>

	<arg name="modemPort" default="/dev/ttyUSB0" />
	<arg name="modemBaudrate" default="700" />
	<arg name="dccommsNs" default="" />
	<arg name="nodeName" default="s100_bridge" />
	<arg name="logToFile" default="" />

	<node pkg="dccomms_ros" name="$(arg nodeName)" type="s100_bridge" respawn="false" ns="$(arg namespace)" output="screen">
		<param name="modemPort" type="str" value="$(arg modemPort)"/>
		<param name="modemBaudrate" type="int" value="$(arg modemBaudrate)"/>
		<param name="ns" type="str" value="$(arg dccommsNs)"/>
		<param name="logToFile" type="str" value="$(arg logToFile)"/>
	</node>
</launch>
